* {
    margin: 0;
    padding: 0;
    color: rgb(228, 218, 29);
    text-decoration: none;
    transition: 1s ease all;
}

section {
    margin: 30px auto;
    width: 1300px;
    background-color: rgb(0, 0, 0);
    height: 100%;
}

.accordeon_items {
    padding: 20px;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-top: -1px;
    height: 100%;
}

p {
    color: #effad1;
}

h2 {
    cursor: pointer;
}


.accordeon_items:not(.show) .accordeon_text {
    display: none;
}